# directories :
CMakeFiles/
input_data/heavy/*

# directory content :
output_data/*

# exception :
!output_data/.gitkeep
!input_data/heavy/.gitkeep


# executables :
raytracing

# cmake-related :
CMakeLists.txt
CMakeCache.txt
Makefile
cmake_install.cmake
CMakeLists.txt.bak

# emacs autosave files :
\#*#
