# directories :
CMakeFiles/
pipeline_evaluation/evaluations/

# directory content :
output_data/*
input_data/heavy/*

pipeline_evaluation/input/*

# exception :
!output_data/.gitkeep
!input_data/heavy/.gitkeep


# executables :
raytracing
evaluation
mean_and_max_distance_from_P_to_mesh
mesh_alpha
remove_points_too_far_from_P

# cmake-related :
CMakeLists.txt
CMakeCache.txt
Makefile
cmake_install.cmake
CMakeLists.txt.bak

# emacs autosave files :
\#*#
