# directories :
CMakeFiles/
input_data/heavy/*

# directory content :
output_data/*
pipeline_evaluation/*

pipeline_evaluation/GT-LiDAR/*
pipeline_evaluation/GT-mesh/*
pipeline_evaluation/GT-mesh_alpha/*
pipeline_evaluation/GT-mesh_alpha_PDS/*
pipeline_evaluation/GT-mesh_alpha_PDS_processed/*
pipeline_evaluation/recon-mesh/*
pipeline_evaluation/recon-mesh_alpha/*
pipeline_evaluation/recon-sampling/*

# exception :
!output_data/.gitkeep
!input_data/heavy/.gitkeep
!pipeline_evaluation/.gitkeep
!pipeline_evaluation/PDS.mlx

pipeline_evaluation/GT-LiDAR/.gitkeep
pipeline_evaluation/GT-mesh/.gitkeep
pipeline_evaluation/GT-mesh_alpha/.gitkeep
pipeline_evaluation/GT-mesh_alpha_PDS/.gitkeep
pipeline_evaluation/GT-mesh_alpha_PDS_processed/.gitkeep
pipeline_evaluation/recon-mesh/.gitkeep
pipeline_evaluation/recon-mesh_alpha/.gitkeep
pipeline_evaluation/recon-sampling/.gitkeep


# executables :
raytracing
evaluation

# cmake-related :
CMakeLists.txt
CMakeCache.txt
Makefile
cmake_install.cmake
CMakeLists.txt.bak

# emacs autosave files :
\#*#
